# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore .env files
.env

# Ignore build artifacts
build/

# Ignore dependencies installed via npm
npm-debug.log
yarn-error.log

# Ignore IDE-specific files
.vscode/
.idea/
